<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="REPL"
            id="rascal-repl.plugin">
      </category>
      <view
            allowMultiple="true"
            category="rascal-repl.plugin"
            class="net.lappie.repl.plugin.views.REPLView"
            icon="icons/rascal.gif"
            id="net.lappie.repl.plugin.views.REPLView"
            name="REPL View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rascal.perspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="rascalrepl.plugin.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="rascal-repl.standalone2.commands.search"
            contextId="rascal-repl.standalone2.view.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="rascal-repl.standalone2.commands.category"
            defaultHandler="net.lappie.repl.eclipse.keys.SearchHandler"
            id="rascal-repl.standalone2.commands.search"
            name="Search">
      </command>
      <category
            id="rascal-repl.standalone2.commands.category"
            name="REPL commands">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="rascal-repl.standalone2.view.context"
            name="REPL View Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
